* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    padding: 3px 1rem;
    background: rgba(255, 255, 255, 0.87);
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0.897) 100%);
}

.navbar {
    height: 80px;
    padding: 2rem;
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

li {
    list-style: none;
    position: relative;
}

.links a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* text-transform: uppercase; */
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #232b2b;
    font-size: 1rem;
    transition: all 0.3s;
}

.links li {
    position: relative;
}

.links li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
    background: #FFA500;
}

.links li:hover::before {
    width: 100%;
}

.links a:hover {
    color: #FFA500;
}

.navbar .main_logo {
    width: 200px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #232b2b;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

/* Search Bar */

.search-form-wide {
    display: inline-flex;
    width: auto;
    /*  Static */
    right: 1;
    justify-content: center;
    align-items: center;
}

.search {
    overflow: auto;
}

.search input[type="text"] {
    border: 0px;
    background-color: transparent;
    color: #000000;
    padding-top: 8px;
    font-size: 16px;
    width: 0;
    transition: width 0.3s ease;
}

.hide {
    padding-left: 0;
}

.show {
    padding: 8px;
}

.search input[type="text"]:focus {
    outline: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.548);
}

.search input[type="text"]::placeholder {
    font-family: myCursive4;
    color: rgba(46, 46, 46, 0.781);
    font-size: small;
}

.search button {
    border: 0px;
    background: none;
    background-color: rgba(0, 0, 0, 0.568);
    color: #fff;
    float: right;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
}

/* Profile Icon */

.profile_name {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.profile_name #welcome,
.profile_name #username {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-family: myNormal2;
}

.profile_space {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#profile {
    max-width: 36px;
    margin-right: 8px;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 50px;
    right: 1px;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    transition: max-height 0.3s ease-in;
    border-radius: 8px;
}

.dropdown-content a {
    color: black;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown_profile:hover .dropdown-content {
    max-height: 200px;
    border-radius: 8px;
}

.dropdown_profile i.fa-caret-down {
    transition: transform 0.3s ease;
}

button.dropbtn:hover i.fa-caret-down {
    transform: rotate(180deg);
}

button.dropdown-content:hover i.fa-caret-down {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}


/* Action BTN Wide */

.Action_BTN {
    display: none;
    justify-content: center;
    align-items: center;
}

.action_btn {
    color: #232b2b;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all ease;
}

.btn1 {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgba(0, 0, 0, 0.034);
}

.btn2 {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(0, 0, 0, 0.034);
}

.btn1:hover {
    transform: scale(1.05);
    color: #ffffff;
    background-color: #FFA500;
}

.btn2:hover {
    transform: scale(1.05);
    color: #ffffff;
    background-color: rgb(165, 165, 165);
}

/* Dropdown */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2.8rem;
    top: 80px;
    width: 300px;
    height: 0;
    background: rgba(248, 248, 248, 0.788);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    backdrop-filter: blur(5px);
}

.dropdown_menu.open {
    padding-top: 10px;
    display: block;
    height: 420px;
}


/* Search Box Dropdown Starts */

.search-form-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 2px 0 10px 0;
    margin-bottom: 7px;
}

/* Search Box Dropdown  END */

.dropdown_menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Action BTN Dropdown */

.ActionBTN {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.actionbtn {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all ease;
}

.dropdown_menu #dd_btn {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #232b2b;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 35%;
}

.dropdown_menu #dd_btn:hover {
    transform: scale(1.05);
    color: #FFA500;
}

.btn_1 {
    text-decoration: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #232b2b;
    background-color: #fff;

}

.btn_2 {
    text-decoration: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #232b2b;
    background-color: #fff;
}

.btn_1:hover {
    transform: scale(1.05);
    color: #ffffff;
    background-color: #FFA500;
}

.btn_2:hover {
    transform: scale(1.05);
    color: #000000;
}

/* End */

.dropdown_menu .dropdown_social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

.social {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 1%;

}

.icon {
    max-width: 1.5rem;
}

/* Resolution 1000px below */

@media (max-width: 1000px) {

    .navbar .links {
        gap: 1.4rem;
    }

    /* header, */
    .navbar {
        height: 80px;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* Resolution 820px below */

@media (max-width: 900px) {

    .navbar .main_logo {
        width: 160px;
    }

    .navbar .toggle_btn {
        font-size: 1.8rem;
    }

    .navbar .links,
    .navbar .action_btn,
    .social,
    .dropdown_profile,
    .profile_name {
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        top: 85px;
    }

    .icon {
        max-width: 2rem;
    }

    header,
    .navbar {
        padding-left: 25px;
        padding-right: 25px;
    }

    .search-form-wide {
        display: none;
    }
}

/* Resolution 576px below */
@media (max-width: 576px) {

    header

    /* .navbar { */
        {
        padding: 10px 6px;
    }

    .navbar .toggle_btn {
        font-size: 1.7rem;
    }

    .dropdown_menu {
        left: 3%;
        right: 3%;
        width: unset;
    }

    .dropdown_menu.open {
        display: block;
        height: 420px;
    }

    .navbar {
        padding: 1rem;
        flex-direction: row-reverse;
        height: 60px;
    }

    .navbar .main_logo {
        padding-top: 1rem;
        padding-bottom: 0.8rem;
    }

    .dropdown_menu {
        position: absolute;
        top: 80px;
    }
}