.heading {
    font-family: myCursive3;
    font-weight:bolder;
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
    color: #666;
}

.heading span {
    color: orange;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box {
    position: relative;
    overflow: hidden;
    border: 2px solid #3333337c;
    border-radius: 10px;
    cursor: pointer;
    transition: padding 0.3s ease;
    transition: border-right-width 0.3s ease;
}

.box:hover {
    border-right-width: 10px;
    backdrop-filter: blur(10px);
}

.box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 110%;
    transition: transform 0.3s ease-in-out;
}

.box:hover .image {
    transform: scale(1.1);
}

.box .content {
    text-align: center;
    background: #fff;
}

.box .content img {
    margin-top: 2rem;
}

.box .content h3 {
    font-family: myCursive1;
    font-size: 2.5rem;
    color: #333;
    padding: 1.5rem;
}

.box .content p {
    font-family: myNormal2;
    font-size: 1.4rem;
    color: #535353;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.box:hover .image {
    top: 0;
}

/* Resolution 1000px below */

@media (max-width: 1000px) {

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .box .content img {
        margin-top: 1rem;
    }
    
    .box .content h3 {
        font-family: myCursive1;
        font-size: 2.5rem;
        color: #333;
        padding: 1rem;
    }
    
    .box .content p {
        font-family: myNormal2;
        font-size: 1.4rem;
        color: #535353;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }
}

/* Resolution 600px below */

@media (max-width: 600px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Resolution 360px below */

@media (max-width: 360px) {

    .heading {
        font-family: myCursive3;
        text-align: center;
        font-size: 3rem;
        padding: 3rem;
        color: #666;
    }
}

/* Resolution 300px below */

@media (max-width: 300px) {

    .heading {
        font-family: myCursive3;
        text-align: center;
        font-size: 2rem;
        padding: 3rem;
        color: #666;
    }
}